<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flaskr</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" charset="utf-8">
    </head>
    <body>
        <h1>Flaskr</h1>
        <div class="metanav">
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">Log in</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Log out</a>
            {% endif %}
        </div>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block body %}
        {% endblock %}
    </body>
</html>
